
body, h1 {
	font-family: "Raleway", sans-serif
}
body, html {
	height: 100%
}
.bgimg {
    background-image: url("https://www.cs.csub.edu/~arojas/cmps4910/images/food2.jpg");
    min-height: 100%;
    /*width: 150px;
    height: 100px;
    */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.container {
	max-width: 50em;
	margin:0 auto;

	align-self: center;
}
.container ul {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}
img.center {
	display: block;
	margin: 0 auto;
}
