
body, h1 {
	font-family: "Raleway", sans-serif;
}
body, html {
	height: 100%;
	font-family: "Quicksand", Arial, sans-serif;
}
h2#name {
	font-family: "Playfair Display", Georgia, serif;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: .5em;
}
p#nav {
 	font-family: "Quicksand", Arial, sans-serif;
}
#wrapper{
	max-width: 80%;
	margin: 0 auto;
	/*height: auto;*/

}

/* older work */
.bgimg {
    background-image: url("");
    min-height: 100%;
    /*width: 150px;
    height: 100px;
    */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.container {
	max-width: 50em;
	margin:0 auto;

	align-self: center;
}
.container ul {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}
img.circle {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}
img.center {
	display: block;
	margin: 0 auto;
}
